
// LOGO
.logo {
	align-self: stretch;

	// nested flexbox
	display: flex;
	align-items: center;

	&__span {
		// background-color: $color-white;
		// border-radius: 50%;

    // nested flexbox
    display: flex;
	}

	&__svg {
		height: 3.25rem;
		width: 3.25rem;
		margin: 0 2rem;
		fill: $color-grey-dark-3;

		&:hover {
			fill: #4788f2;
		}
	}
}


// SEARCH
.search {
	flex: 0 0 40%;

	// nested flexbox
	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: $color-white;
		border: 1px solid $color-grey-dark-2;
		padding: .7rem 2rem;
		border-radius: .7rem;
		width: 90%;
		transition: all .2s;
		margin-right: -3.25rem;

		&:hover {
			border-color: #4788f2;
		}

		&:focus {
			outline: none;
			width: 100%;
			background-color: $color-white;
			border-color: #4788f2;
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-grey-dark-2; // $color-grey-light-4
		}
	}

	&__input:focus + &__button {
		background-color: $color-white;
	}

	&__button {
		border: none;
		background-color: $color-white;

		&:focus {
			outline: none;
		}

		&:activate {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
		fill: $color-grey-dark-2;
	}
}


// TOP-NAV
.user-nav {
	font-size: 1.6rem;
	color: #433754;

	align-self: stretch;

	// nested flexbox
	display: flex;
	align-items: center;

	& > * {
		// not necessary, could be applied to &__item
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;
	}

	& > *:hover {
		// not necessary, could be applied to &__item
		background-color: $color-white;
	}

	& > *:hover &__icon {
		// not necessary, could be applied to &__item
		fill: #4788f2;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		fill: $color-grey-dark-3;
	}

	&__link {
		text-decoration: none;
	}
}


// SECTION
.section {

	&__label {
		color: darken($color-grey-dark, 15%);
		text-transform: uppercase;
	}
}


// POST
.post {
	margin-bottom: 2.5rem;

	&__title {
		font-size: 4rem;
		color: lighten($color-black, 25%);
		line-height: 4.5rem;
	}

	&__link {
		text-decoration: none;
		color: #4788f2;
	}

	&__date {
		font-size: 1.6rem;
		font-weight: 600;
		color: $color-grey-dark;
		margin-bottom: 2rem;
	}

	&__summary, &__more {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.85rem;
		line-height: 1.7;
		color: lighten($color-grey-dark-3, 15%);
	}

	&__more {
		font-size: 1.6rem;
		font-weight: 500;
		display: block;
		padding-top: 1.25rem;
		text-transform: uppercase;
	}

	&__body {
	}

	&:last-child {
		// margin-bottom: 2.5rem;
	}
}


/* button */
/* card */
/* form */
/* popup */

