
/* components */

// NAVBAR
.navbar .navbar__link {
  font-size: 1.6rem;
  color: #433754;
}

// POST
.post {

  &__title {
    font-size: 4.5rem;
    text-decoration: none;
    color: #4788f2;
  }

  &__date {
  }

  &__summary {
  }

  &__more {
  }

}

/* button */
/* card */
/* form */
/* popup */

