
/* components */

// NAVBAR
.navbar .navbar__link {
  font-size: 1.6rem;
  color: #433754;
}


// SECTION
.section {

  &__label {
    text-transform: uppercase;
  }
}


// POST
.post {

  &__title {
    font-size: 4.5rem;
    text-decoration: none;
    color: #4788f2;
    line-height: 6rem;
  }

  &__date {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-grey-dark;
    margin-bottom: 2rem;
  }

  &__summary {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.85rem;
    line-height: 1.7;
    color: lighten($color-grey-dark-3, 15%);  
  }

  &__more {
  }

}

/* button */
/* card */
/* form */
/* popup */

