
// CONTAINER
.container {
	background-color: $color-white;
	box-shadow: $shadow-dark;
  margin: 0 auto;
  padding: 4rem 10rem;
	max-width: 120rem;
	min-height: 50rem;

	@media only screen and (max-width: $bp-largest) {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}


// HEADER
.header {
  font-size: 1.4rem;
  height: 7rem;
	background-color: $color-grey-light-1;
  border-radius: .25rem;

	display: flex;
	justify-content: space-between;
  align-items: center;
}


// MAIN
.main {
	display: flex;
}


// ASIDE
.aside {
	margin: 0 0 0 2rem;
	padding: 0 0 0 2rem;
	min-width: 25rem;
	background-color: $color-grey-light-1;
	border-radius: .25rem;
}


// FOOTER


/* navigation */
/* grid */

